.wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 100%;
    margin-top:var(--default-layout-header-hight);
    width: var(--default-layout-width);
    display: flex;
    padding: 0 var(--default-layout-hozintal-spacer);
}

.content {
    flex: 1;
    background: rgb(165, 157, 157);
    min-height: 1000px;
}
